<footer class="page-footer midnight">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h3 id="footer1"><a href="about.html" title="Link" id="footer1">Acerca del sitio</a>&nbsp;</h3>
                <p>Este sitio esta relacionado con historias de terror, misterio, suspenso, para el entretenimiento de los amantes del gener, si eres de los que no te agrada no nos interesa que no te agrade...&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="col s6">
                <h3 id="footer1"><a href="contact.html" title="Link" id="footer1">Información de contacto</a>&nbsp;</h3>
                <p>Si estas interesado en subir una historia a este sitio, puedes enviarla a la siguiente dirección de email: nightcrawlerhorror@gmail.com&nbsp; &nbsp;&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">© 2014 Copyright Text</div>
    </div>
</footer>

