<nav class="midnight">
  <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">NIGHT CRAWLER HORROR</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="addpost">Subir Post</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
  </div>
</nav>