<div class="sideBar">
    <div class=" margin-top-100 float-right">
        <input class="white" type="text" placeholder="Buscar">
        <div class="center" id="adimage"><img src="img/reaper.gif" alt="" height="100px" width="150px"/></div>
        <ul class="section table-of-contents">

            <li><a class="">Creepypastas</a></li>
            <li><a class="">Monstruos</a></li>
            <li><a class="">Cine</a></li>
            <li><a class="">Alienigenas</a></li>
            <li><a class="">Videojuegos</a></li>
            <li><a class="">Asesinos</a></li>
        </ul>
    </div>
</div>
